<!DOCTYPE html>
<html lang="ru-en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

{% for category in categories %}
    <p><a href="{% url 'category' category.slug %}">{{category.name}}</a></p>
{% endfor %}
<hr>
<h1>Новости</h1>
<hr>

<h2>{{post.title}}</h2>
<p>{{ post.mini_text }}</p>
<p> {{ post.text }}</p>
<p>Категория - {{ post.category}}</p>
Теги - {% for tag in  post.get_tags %}
<a href="{% url 'tag' tag.slug %}">{{ tag.name }}</a>,
{% endfor %}
<small><p>{{ post.author }} -- {{ post.published_date }}</p></small>
<hr>

<h4>Комментарии</h4>

{% for comment in post.comments.all %}
Пользователь {{ comment.author }}
<p>{{ comment.text }}</p> <br>
<p>Добавлен - {{ comment.created_date }}</p>
{% endfor %}

</body>
</html>
