<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все объявления</title>
</head>
<body>

    <h3>{{category}}</h3>
<!--    <h1>{{ post.title }}</h1>-->
<!--    <h2>{{ post.text }}</h2>-->
</body>
</html>





<!--<h3>{% for category in categories %}-->
<!--        <p><a href="{% url 'category' category.slug%}">{{category.name}} &#45;&#45; {{category.slug}}</a></p>-->
<!--        {% endfor %} </h3>-->
<!--    <h2>{% for post in post_list %}-->
<!--        <p><a href="{% url 'post' post.slug%}">{{post.title}} &#45;&#45; {{post.slug}}</a></p>-->
<!--        {% endfor %} </h2>-->
<!--</body>-->