<!DOCTYPE html>
<html lang="ru-en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

{% for category in categories %}
    <p><a href="{% url 'category' category.slug %}">{{category.name}}</a></p>
{% endfor %}
<hr>
<h1>{{ category.name }}</h1>
<hr>
{% for post in post_list %}
    <h2><a href="{% url 'detail_post' post.category.slug post.slug %}">{{post.title}}</a></h2>
    {{ post.mini_text }}
    <small><p>{{ post.published_date }}</p></small>
    <small><p>Просмотров - {{ post.viewed }}</p></small>
    <small><p>Комментариев - {{ post.get_comments_count }}</p></small>
    Теги - {% for tag in post.get_tags %}
                {{ tag.name }},
            {%endfor%}

{% endfor %}
</body>
</html>
